@import "../base/variable";

.v-cell-wrapper {
    display: flex;
    height: 1rem;
    align-items: center;
    margin: 0.1rem 0.2rem;
    border-bottom: 1px solid $basic-border-color;
    .v-cell-header {
        width: 2rem;
    }

    .v-cell-body {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: flex-end;
    }

}

.v-cell-wrapper:last-of-type {
    border-bottom: none;
}