@import "../base/mixin";
@import "../base/variable";

.v-select-wrapper {
    @include font-dpr(20px);
}

.v-select-content {
    display: none;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 999;
    width: 100%;
    background-color: #fff;
    @include font-dpr(20px);

    .v-select-title {
        display: flex;
        justify-content: flex-end;
        border-bottom: 4px solid $basic-border-color;
        span {
            padding: 0.2rem;
        }
    }

    .v-select-options-wrapper {
        margin: 0;
        padding: 0;
        max-height: 5rem;
        overflow: auto;
        text-align: center;
        list-style: none;

        li {
            display: flex;
            padding: 0.2rem 0;
            border-bottom: 1px solid $basic-border-color;

            span {
                flex: 7;

            }

            i {
                flex: 1;
                color: $icon-basic-color;
            }
        }
    }
}