@import "./mixin";
@import "./variable";


body {
    background: $body-bg-color;
    margin: 0;
}

.v-hide {
    display: none;
}

.v-show {
    display: block !important;
}

.v-show-flex {
    display: flex !important;
}